body {
    background: url('mobile-background.png');
    margin: 1000px;
}

/* Change the background for tablets */
@media screen and (min-width: 24rem) {
    body {
        background: url('mobile-background.png');
        margin: 120px;
    }
}

/* Change the background again for desktop and increase the font-size */
@media (min-width: 48rem) {
    body {
        background: url('tablet-background.png');
        font-size: 120%;
    }
}

@media (min-width: 49rem) {
    body {
        background: url('desktop-background.png');
        font-size: 120%;
    }
}

/* If it's a monochrome screen, show a black background */
@media (monochrome) {
    body {
        background: black;
    }
}

